@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

@import "bootstrap/scss/bootstrap";

.suggestion-list {
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
    list-style: none;
    width:100%;

    &:hover {
        background-color: rgb(0, 0, 0, 0.2);
    }
}